*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(70,70,70);
}

#calculation-history {
    grid-column: 1 / -1;
    justify-content: center;
    align-content: center;
    background-color: white;
    color: balck;
    margin-bottom: 2em;
    border: 2px solid black;
}

#calchist-title {
    display: inline-block;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: x-large;
    border-bottom: 0.1em solid gray
}

#history-list { 
    overflow-y: auto;
    height: 7em;
}

.history-item {
    padding-left: 0.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: large;
}

.history-item:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}


.calculator-area {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(8, 6em);
    grid-template-rows: minmax(120px, auto) repeat(6, 6em);
}

.calculator-area > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid black;
    outline: none;
    background-color: whitesmoke;
    color: black;
}

.calculator-area > button:hover {
    background-color: rgb(200, 200, 200);
}

.calculator-area > button.number{
    background-color: rgb(170,170,170);
}

.calculator-area > button.number:hover {
    background-color: rgb(210, 210, 210);
}

.calculator-area > button.del {
    background-color: black;
    color: white;
}

.calculator-area > button.del:hover {
    background-color: rgb(50, 50, 50)
}

.calculator-area > button.c {
    background-color: rgb(255, 0, 0)
}

.calculator-area > button.c:hover {
    background-color: rgb(255, 80, 80)
}

.calculator-area > .select-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.calculator-area > .select-container > .color-select {
    font-size: 1.5em;
    width: 30%;
    height: 80%;
    border: 3px solid rgb(100, 100, 100);
}

.output-area {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.45em;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px solid black;
    font-size: 3em;
    overflow-y: auto;
}

.span {
    grid-row: span 2;
}