*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(68, 184, 172);
}

#calculation-history {
    grid-column: 1 / -1;
    justify-content: center;
    align-content: center;
    background-color: white;
    margin-bottom: 2em;
    border: 2px solid black;
}

#calchist-title {
    display: inline-block;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: x-large;
    border-bottom: 0.1em solid gray
}

#history-list { 
    overflow-y: auto;
    height: 7em;
    background-color: white;
}

.history-item {
    padding-left: 0.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: large;
}

.history-item:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.calculator-area {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-area > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid black;
    outline: none;
    background-color: rgb(136, 176, 75);
    color: black;
}

.calculator-area > button:hover {
    background-color: rgb(171, 201, 126);
}

.calculator-area > button.number{
    background-color: rgb(193, 255, 107);
}

.calculator-area > button.number:hover {
    background-color: rgb(218, 255, 168);
}

.calculator-area > button.del {
    background-color: rgb(255, 102, 102)
}

.calculator-area > button.del:hover {
    background-color: rgb(255, 151, 151)
}

.calculator-area > button.c {
    background-color: rgb(255, 255, 102)
}

.calculator-area > button.c:hover {
    background-color: rgb(255, 255, 187)
}

.calculator-area > .select-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.calculator-area > .select-container > .color-select {
    font-size: 1.5em;
    width: 30%;
    height: 80%;
    border: 3px solid rgb(100, 100, 100);
}

.output-area {
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px solid black;
    font-size: 3em;
}

.span {
    grid-row: span 2;
}