*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(31, 31, 31);
}

#calculation-history {
    grid-column: 1 / -1;
    justify-content: center;
    align-content: center;
    background-color: rgb(41, 41, 41);
    color: rgb(166, 166, 166);
    margin-bottom: 2em;
    border: 2px solid rgb(166, 166, 166);
}

#calchist-title {
    display: inline-block;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: x-large;
    border-bottom: 0.1em solid rgb(195, 195, 195)
}

#history-list { 
    overflow-y: auto;
    height: 7em;
}

.history-item {
    padding-left: 0.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: large;
}

.history-item:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}

.calculator-area {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(8, 6em);
    grid-template-rows: minmax(120px, auto) repeat(6, 6em);    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-area > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid rgb(166, 166, 166);
    outline: none;
    background-color: rgb(71, 71, 71);
    color: rgb(166, 166, 166);
}

.calculator-area > button:hover {
    background-color: rgb(71, 71, 71);
}

.calculator-area > button.number{
    background-color: black;
}

.calculator-area > button.number:hover {
    background-color: black;
}

.calculator-area > button.del {
    background-color: rgb(184, 0, 6)
}

.calculator-area > button.del:hover {
    background-color: rgb(184, 0, 6)
}

.calculator-area > button.c {
    background-color: rgb(179, 83, 0)
}

.calculator-area > button.c:hover {
    background-color: rgb(179, 83, 0)
}

.calculator-area > .select-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.calculator-area > .select-container > .color-select {
    background-color: black;
    color: white;
    font-size: 1.5em;
    width: 30%;
    height: 80%;
    border: 3px solid rgb(100, 100, 100);
}

.output-area {
    grid-column: 1 / -1;
    background-color: rgb(41, 41, 41);
    color: rgb(166, 166, 166);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.45em;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px solid rgb(166, 166, 166);
    font-size: 3em;
    overflow-y: auto;
}

.span {
    grid-row: span 2;
}